@model int 
<div class="text-center">
	<h1 class="text-info pt-4 ">Congratulations!</h1>
	<h3 class="text-info"> You are one Step closer to amazing food</h3>
	<p class="pb-3">WE Recived your order and will be ready in 30 minutes during regular buissness houirs</p>
	<h4 class="text-warning pb-3">Order ID - @Model</h4>
	<img src="~/images/orderconfirmed.png" />
</div>